# Django
django-jet==1.0.7
Django==2.0.8
django-tinymce==2.7.0

# Frameworks
djangorestframework==3.7.3

# Database
dj-database-url==0.5.0
psycopg2-binary==2.7.4

# Error reporting
raven==6.6.0

# Filters
django-filter==1.1.0

# Production
gunicorn==19.7.1
whitenoise==3.3.1
