<div class="logo">
  <img src="assets/logo.jpg" alt="" width="30%">
</div>

<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link collapsed" href="#navbar-dashboards">
      <i class="fas fa-home text-primary"></i>
      <span class="nav-link-text">Dashboards</span>
    </a>
    <div class="collapse" id="navbar-dashboards">
      <ul class="nav nav-sm flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboards/main">Dashboard</a>
        </li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#navbar-dashboards">
      <i class="fas fa-home text-primary"></i>
      <span class="nav-link-text">Diary</span>
    </a>
    <div class="collapse" id="navbar-dashboards">
      <ul class="nav nav-sm flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/diary/content">Content</a>
        </li>
      </ul>
    </div>
  </li>
</ul>